@using FurnitureStore3.Domain.Entities
@model ProductsCatalogViewModel
<link rel="stylesheet" href="~/styles/index.css" />

@{
    <div class="products-container">
        <div class="categories-list">            
            <h1 class="custom-colored-h1">Категории товаров</h1>            
            <ul>
                @foreach (Category category in Model.Categories)
                {
                    <li>
                        <a href="/products/index/?categoryId=@category.Id">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        

        <div class="products-list">
            <div class="addLink">
                @if (User.IsInRole("admin"))
                {
                    <a href="~/products/AddProduct" class="link-add">Добавить товар</a>
                }
            </div>
            <div class="searchbar">
                <form>
                    <label style="color:black;">Найти товар: </label>
                    <input type="text" placeholder=" Укажите название" class="searchstring" name="searchstring" />
                    <input type="submit" value="Найти" class="link-button" />

                </form>
            </div>

            @foreach (Product product in Model.Products)
            {
                <div class="product-card">
                    <div class="product-card-left">
                        <div class="image-container">
                            <img src="/images/products/@product.ImageUrl">
                        </div>
                        @if (User.IsInRole("admin"))
                        {
                            <div class="product-card-actions">
                                <a class="link-button" asp-action="UpdateProduct" asp-controller="Products" asp-route-productId="@product.Id">Изменить</a>
                                <a class="link-button" asp-action="DeleteProduct" asp-controller="Products" asp-route-productId="@product.Id">Удалить</a>
                            </div>
                        }
                    </div>
                    <div class="product-card-right">
                        <h2>@product.Name</h2>                        
                        <p>@product.Description</p>
                        <p>Вес товара: @product.Weight кг</p>
                        <p>Цена товара: @product.Price ₽</p>
                        <div class="placeholder-div"></div>
                        <a class="link-button-download" asp-action="AddOrder" asp-controller="Orders" asp-route-productId="@product.Id">Оформить заказ</a>
                    </div>
                </div>
            }
        </div>
    </div>
}
  
